/* CSS Document */
@charset "utf-8";
/*----header section-----*/
* {
   margin: 0;
   padding: 0;
   font-family: 'Sora', sans-serif;
}
body header{
   background-color:#689de9;
   padding: 0;
   margin: auto;
   position:sticky;
}

body header .uk-container .uk-navbar-left .uk-navbar-nav .uk-active .img{
   width: 80px;
   height: 60px;
   margin: 0;
}
body header .uk-container .uk-navbar-right .uk-navbar-nav {
   margin: 0; 
   font-size: 12px;
   font-family: 'Sora', sans-serif;
   color: white;
}
body header .uk-container .uk-navbar-right .uk-navbar-nav li a{
    display: inline-flex;
    position: relative;
    color:#ffffff;
    font-family: 'Sora', sans-serif;
    font-weight: 1px;
}
body header .uk-container .uk-navbar-right .uk-navbar-nav li a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 6px;
    bottom: 0;
    left: 0;
    background-color:#f4c941;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
body header .uk-container .uk-navbar-right .uk-navbar-nav li a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
body header .uk-container .uk-navbar-right .uk-navbar-toggle{
    background-color: #f4c941;
    margin: auto;
    padding: auto;
    color: #ffffff;
}
/*-----for media qurrey for small screen-----*/
body .uk-offcanvas .uk-offcanvas-bar .uk-nav li a{
    color: #f4c941;
    font-size: 15px;
    font-family: 'Sora', sans-serif;
    font-weight: 2px;
}
/* ----- the end of media qurrey-----*/
.banner img{
    width: 100%;
    height: 20%;
    opacity: 2;
}
#landing-page{
height:auto;
}

/* features*/
#features{
    background-color: #ffffff;
    margin-bottom: 20px;
}
#features .features{
   text-align: center;
   font-family: 'Bree Serif', serif;
   font-size: 30px;
   padding-top: 15px;
   padding-bottom: 15px;
   color: #689de9;
}
#features .uk-card{
    text-align: center;
    border-radius: 15px;
}
#features .uk-card p{
    color: #000000;
    font-weight: bold;
}
 #features #more {
    display: none;
}
#features .uk-card .uk-button{
    border-radius: 10px;
    background-color: #ffffff;
    color: #689de9;
    border-color: #689de9;
}
#features .uk-card .uk-button:hover{
    background-color: #689de9;
    color: #ffffff;
}
/*---testimonial---*/
#testimonial{
    margin: auto;
    height: auto;
    width: 100%;
    display: none;

}
#testimonial .testimonial{
    color: #689de9;
    font-size: 30px;
    font-family: 'Bree Serif', serif;
    text-align: center;
    margin: 20px;
    display: none;
}


#testimonial .item{
    border-style: solid;
    border-top-color: #f4c941;
    border-right-color: #f4c941;
    border-bottom-color: #689de9;
    border-left-color: #689de9;
    border-width: 10px;
    border-radius: 15px;
    padding: 15px;
    display: none;
}
#testimonial .item .text{
   text-align: center; 
   color: #ffffff;
   font-size: 15px;
   font-weight: bold;
   margin: 15px;
   font-family: 'Sora', sans-serif; 
   display: none;
}
#testimonial .uk-slider-items .testimonial-layout{
    background-color: #000000;
    display: none;
}

/* ------testimonial  close-------*/

/*about- footer*/
#about{
    width: 100%;
    background-color:#689de9;
    padding: 70px;
    font-family: 'Sora', sans-serif;
    font-style: bold;
}
#about .about{
    color: #ffffff;
    text-align: center;
    font-size: 27px;
    padding-bottom: 20px;
    font-family: 'Bree Serif', serif;
}
#about .uk-text-center{
    color: #ffffff;
    margin: 10px;
    padding: auto;
    font-size: 18px;
}
#about .uk-text-center .uk-icon-button{
    color: #689de9;
    margin: 5px;
    background-color: #ffffff;
    font-size: 40px;
}
#about .uk-text-center .uk-icon-button:hover{
    color: #f4c941;
}
   footer{
        color:#000000;
        text-align: center;
        margin:auto;
       }
.top a{
    color: #689de9;
    background-color: #f4c941;
    float: right;
    position: sticky;
}